.home-page-container {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.about-me-container {
  width: 33%;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.about-me-container img {
  width: 100%;
}

.about-me-container h2 {
  width: 100%;
  font-size: 22px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 4px;
}

.about {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 8px;
}

.about h3 {
  width: 100%;
  font-size: 22px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 8px;
  width: fit-content;
}

p {
  width: 100%;
  font-size: 16px;
  margin: 0 0 12px 0;
}

.projects h3 {
  width: 100%;
  font-size: 22px;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 8px;
  width: fit-content;
}

.projects .projects-list li {
  margin-bottom: 8px;
}