.life-list {
    padding-left: 5%;
    padding-right: 5%;
}

.life-list-container {
    display: flex;
    align-items: start;
    flex-direction: row;
}

.life-list-container h2 {
    text-align: left;
}

.life-list-left {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.life-list-right {
    display: flex; 
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
}

.life-list-right h2 {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
}